
// sticky header 
.header-fixed{
    position: fixed;
    top: 0px;
    z-index: 9;
    width: 100%;
    background: #04001F;
}


//Header DeskTop
.header-section{
    background: #ebebeb;
}
.header-wrapper{
    position: relative;
    .logo{
        max-width: 50px;
        height: 38px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main-menu{
        display: flex;
        align-items: center;
        gap: 24px;
        li > a{
            padding: 26px 0;
        }
        .custom-mega-menu{
            .sub-mega{
                min-width: initial !important;
                padding: 14px 14px !important;
                display: flex;
                justify-content: center;
                gap: 14px;
                left: 50%;
                transform: translateX(-50%) translateY(30px) !important;
                margin: 0 auto;
                transition: all 0.5s !important;
                text-align: center;
                li{
                    .screen-thumb{
                        padding: 0 0 !important;
                        width: 250px;
                        img{
                            width: 100%;
                        }
                    }
                    .screen-btn{
                        padding: 10px 17px;
                        border-radius: 4px;
                        display: block;
                        background: #4ad54a;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #fff;
                        text-align: center;
                    }
                    &:hover{
                        .screen-btn{
                            padding-left: initial !important;
                            color: #fff;
                        }
                        a{
                            padding-left: initial !important;
                        }
                    }
                }
            }
        }
        .menu-item,
        li{
            a{
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                color: #000;
            }            
            .sub-menu{
                background: #fff;
                border-radius: 10px;
                border-left: 3px solid #4ad54a;
                padding: 14px 18px;
                position: absolute;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                top: 100%;
                transform: translateY(10px);
                min-width: 240px;
                transition: all 0.4s;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                .menu-item{
                    .sub-menu{
                        left: 100%;
                        transition: all 0.4s;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(10px);
                        pointer-events: none;
                    }
                    &:hover{
                        .sub-menu{
                            transform: translateY(-20px);
                            visibility: visible;
                            opacity: 1;
                            pointer-events: unset;
                        }
                    }
                }
                li{
                    a{
                        font-size: 14px;
                        padding: 9px 0px;
                        display: block;
                        transition: all 0.4s;
                        &:hover{
                            padding-left: 5px;
                            color: #4ad54a;
                        }
                    }
                }
            }
            @media screen and (min-width: 1199px) {                
                &:hover{
                    .sub-menu{
                        transform: translateY(-8px);
                        visibility: visible;
                        opacity: 1;
                        pointer-events: unset;
                    }
                }
            }
        }
    }
    .custop-bars{
        .bars-button{
            max-width: 35px;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
    @media screen and (min-width: 1199px) {
        &:hover{
            .main-menu{            
                .custom-mega-menu{
                    .sub-mega{
                        transform: translateX(-50%) translateY(-8px) !important;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1399px) {
        .main-menu{
            .custom-mega-menu{
                .sub-mega{
                    li{
                        .screen-thumb{
                            width: 200px;
                            img{
                                width: 100%;
                            }
                        }
                        .screen-btn{
                            padding: 9px 12px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
.custom-header-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    content: "";
    transition: all 0.5s;
    &.active{
        height: 100%;
    }
}
//Header DeskTop

//Header Mobile
.header-mobile{
    position: fixed;
    right: -321px;
    top: 0;
    z-index: 99;
    background: #fff;
    padding: 0px 10px 20px;
    width: 321px;
    height: 100vh;
    border-left: 1px solid #ebebeb;
    overflow-y: scroll;
    transition: all 0.5s;
    &.active{
        right: 0;
    }
    .mobile-header{
        border-bottom: 1px solid #ebebeb;
        position: sticky;
        background: #fff;
        top: 0px;
        z-index: 1;
        .mobile-logo{
            max-width: 50px;
            height: 35px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .bars-button{
            max-width: 35px;
            img{
                width: 100%;
            }
        }
    }
    .mobile-menu{
        padding: 20px 0;
        display: grid;
        gap: 10px;
        .menu-items > a{
            padding: 13px 0;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            color: #000;
        }
        .menu-items{
            .sub-menus{
                background: #fff;
                border-radius: 10px;
                border-left: 3px solid #4ad54a;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                min-width: 235px;
                transition: all 0.4s;
                li,
                .menu-items{
                    &:first-child{
                        padding-top: 19px;
                    }
                    &:last-child{
                        padding-bottom: 19px;
                    }
                    .screen-btn{
                        text-align: center;
                        display: block;
                    }
                    a{
                        padding: 0 14px;
                        font-size: 14px;
                    }
                    &:not(:last-child){
                        padding-bottom: 8px;
                    }
                    .sub-menus{
                        margin-left: 8px;
                        margin-right: 8px;
                        margin-top: 5px;
                        li{
                            &:first-child{
                                padding-top: 10px;
                            }
                            &:last-child{
                                padding-bottom: 13px;
                            }
                            a{
                             padding: 4px 12px;
                             font-size: 14px;
                             color: #000;
                            }
                        }
                    }
                }
            }
            .sub-mega{
                .menu-items{
                    &:not(:last-child){
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
//Header Mobile

//Sidebar Information
.mobile-sidebar-info{
    .full-thumb{
        max-width: 280px;
        img{
            width: 100%;
        }
    }
    .calling-information{
        li{
            a{
                color: #000;
                line-height: 23px;
                transition: all 0.4s;
                .icon{
                    transition: all 0.4s;
                    width: 46px;
                    min-width: 46px;
                    height: 46px;
                    border: 1px solid #ebebeb;
                    i{
                        color: #636060;
                    }
                }
                &:hover{
                    color: #4ad54a;
                    .icon{
                        background: #4ad54a;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .social-icons{
        li{
            a{
                width: 40px;
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ebebeb;
                transition: all 0.4s;
                i{
                    color: #636060;
                    transition: all 0.4s;
                }
                &:hover{
                    background: #4ad54a;
                    border-color: #4ad54a;
                    i{
                        color: #fff;
                    }
                }
            }
        }
    }
}
//Sidebar Information